In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# 1. Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# 3. Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = list(app_count[app_count < 500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
new_class_counts = class_counts[class_counts > 1]
new_class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [16]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classifications_to_replace = list(class_counts[class_counts < 1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
num_data = pd.get_dummies(application_df, dtype = float)
num_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [19]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
x = num_data.drop(columns=['IS_SUCCESSFUL']).values
y = num_data['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(x, y)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
print(X_train_scaled[0])

[ 0.01079982 -0.03128244 -0.08984839 -0.12567933 -0.1753079   0.51400668
 -0.21365521 -0.18664908 -0.19226381 -0.14890525 -0.14629295  1.08823594
 -0.04278355 -1.08093609 -0.0324146  -0.01079982 -0.01870803 -1.01086606
 -0.40715525  2.16445418 -0.24153572 -0.24198608 -0.26592857 -0.10715222
 -0.06401969 -0.00623504  0.46695835 -0.44217623  1.53593672 -0.12195719
 -0.03691139 -1.4790566   0.63578701 -0.14684644 -0.12930084 -0.32809642
 -0.08464603 -0.16908491 -0.3496993  -0.06278353 -0.07317296  0.02718742
 -0.02718742]

In [21]:
X_train_scaled.shape

(25724, 43)

In [22]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train[0])
layer_1_nodes = 100
layer_2_nodes = 80


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=layer_1_nodes, 
                          input_dim=num_input_features, 
                          activation='relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=layer_2_nodes,
                          activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,
                          activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 80)                8080

 dense_2 (Dense)             (None, 1)                 81

=================================================================
Total params: 12,561
Trainable params: 12,561
Non-trainable params: 0
_________________________________________________________________

In [23]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [24]:
# Train the model
train_model = nn.fit(X_train_scaled, y_train, validation_split=0.15, epochs=100, batch_size=10)

Epoch 1/100
2187/2187 [==============================] - 3s 865us/step - loss: 0.5730 - accuracy: 0.7172 - val_loss: 0.5766 - val_accuracy: 0.7150
Epoch 2/100
2187/2187 [==============================] - 2s 792us/step - loss: 0.5577 - accuracy: 0.7280 - val_loss: 0.5683 - val_accuracy: 0.7227
Epoch 3/100
2187/2187 [==============================] - 2s 789us/step - loss: 0.5547 - accuracy: 0.7308 - val_loss: 0.5739 - val_accuracy: 0.7207
Epoch 4/100
2187/2187 [==============================] - 2s 787us/step - loss: 0.5533 - accuracy: 0.7314 - val_loss: 0.5640 - val_accuracy: 0.7217
Epoch 5/100
2187/2187 [==============================] - 2s 804us/step - loss: 0.5505 - accuracy: 0.7323 - val_loss: 0.5673 - val_accuracy: 0.7235
Epoch 6/100
2187/2187 [==============================] - 2s 812us/step - loss: 0.5494 - accuracy: 0.7340 - val_loss: 0.5672 - val_accuracy: 0.7225
Epoch 7/100
2187/2187 [==============================] - 2s 789us/step - loss: 0.5481 - accuracy: 0.7354 - val_loss: 0.5720 - val_accuracy: 0.7207
Epoch 8/100
2187/2187 [==============================] - 2s 792us/step - loss: 0.5477 - accuracy: 0.7340 - val_loss: 0.5687 - val_accuracy: 0.7199
Epoch 9/100
2187/2187 [==============================] - 2s 786us/step - loss: 0.5464 - accuracy: 0.7342 - val_loss: 0.5679 - val_accuracy: 0.7222
Epoch 10/100
2187/2187 [==============================] - 2s 794us/step - loss: 0.5459 - accuracy: 0.7343 - val_loss: 0.5681 - val_accuracy: 0.7240
Epoch 11/100
2187/2187 [==============================] - 2s 782us/step - loss: 0.5463 - accuracy: 0.7351 - val_loss: 0.5654 - val_accuracy: 0.7240
Epoch 12/100
2187/2187 [==============================] - 2s 786us/step - loss: 0.5451 - accuracy: 0.7355 - val_loss: 0.5664 - val_accuracy: 0.7227
Epoch 13/100
2187/2187 [==============================] - 2s 785us/step - loss: 0.5443 - accuracy: 0.7369 - val_loss: 0.5645 - val_accuracy: 0.7207
Epoch 14/100
2187/2187 [==============================] - 2s 782us/step - loss: 0.5443 - accuracy: 0.7375 - val_loss: 0.5646 - val_accuracy: 0.7214
Epoch 15/100
2187/2187 [==============================] - 2s 786us/step - loss: 0.5438 - accuracy: 0.7368 - val_loss: 0.5616 - val_accuracy: 0.7232
Epoch 16/100
2187/2187 [==============================] - 2s 790us/step - loss: 0.5433 - accuracy: 0.7368 - val_loss: 0.5655 - val_accuracy: 0.7227
Epoch 17/100
2187/2187 [==============================] - 2s 790us/step - loss: 0.5432 - accuracy: 0.7379 - val_loss: 0.5710 - val_accuracy: 0.7225
Epoch 18/100
2187/2187 [==============================] - 2s 781us/step - loss: 0.5427 - accuracy: 0.7370 - val_loss: 0.5652 - val_accuracy: 0.7235
Epoch 19/100
2187/2187 [==============================] - 2s 787us/step - loss: 0.5424 - accuracy: 0.7381 - val_loss: 0.5698 - val_accuracy: 0.7209
Epoch 20/100
2187/2187 [==============================] - 2s 810us/step - loss: 0.5423 - accuracy: 0.7375 - val_loss: 0.5664 - val_accuracy: 0.7219
Epoch 21/100
2187/2187 [==============================] - 2s 788us/step - loss: 0.5419 - accuracy: 0.7378 - val_loss: 0.5654 - val_accuracy: 0.7238
Epoch 22/100
2187/2187 [==============================] - 2s 794us/step - loss: 0.5416 - accuracy: 0.7384 - val_loss: 0.5669 - val_accuracy: 0.7227
Epoch 23/100
2187/2187 [==============================] - 2s 786us/step - loss: 0.5420 - accuracy: 0.7385 - val_loss: 0.5656 - val_accuracy: 0.7222
Epoch 24/100
2187/2187 [==============================] - 2s 799us/step - loss: 0.5409 - accuracy: 0.7386 - val_loss: 0.5644 - val_accuracy: 0.7212
Epoch 25/100
2187/2187 [==============================] - 2s 794us/step - loss: 0.5409 - accuracy: 0.7379 - val_loss: 0.5649 - val_accuracy: 0.7219
Epoch 26/100
2187/2187 [==============================] - 2s 866us/step - loss: 0.5403 - accuracy: 0.7397 - val_loss: 0.5655 - val_accuracy: 0.7219
Epoch 27/100
2187/2187 [==============================] - 2s 835us/step - loss: 0.5401 - accuracy: 0.7386 - val_loss: 0.5895 - val_accuracy: 0.7245
Epoch 28/100
2187/2187 [==============================] - 2s 829us/step - loss: 0.5403 - accuracy: 0.7394 - val_loss: 0.5671 - val_accuracy: 0.7207
Epoch 29/100
2187/2187 [==============================] - 2s 816us/step - loss: 0.5398 - accuracy: 0.7387 - val_loss: 0.5658 - val_accuracy: 0.7219
Epoch 30/100
2187/2187 [==============================] - 2s 800us/step - loss: 0.5397 - accuracy: 0.7384 - val_loss: 0.5706 - val_accuracy: 0.7230
Epoch 31/100
2187/2187 [==============================] - 2s 806us/step - loss: 0.5395 - accuracy: 0.7395 - val_loss: 0.5709 - val_accuracy: 0.7243
Epoch 32/100
2187/2187 [==============================] - 2s 845us/step - loss: 0.5398 - accuracy: 0.7394 - val_loss: 0.5703 - val_accuracy: 0.7232
Epoch 33/100
2187/2187 [==============================] - 2s 824us/step - loss: 0.5390 - accuracy: 0.7385 - val_loss: 0.5685 - val_accuracy: 0.7219
Epoch 34/100
2187/2187 [==============================] - 2s 833us/step - loss: 0.5390 - accuracy: 0.7397 - val_loss: 0.5672 - val_accuracy: 0.7217
Epoch 35/100
2187/2187 [==============================] - 2s 798us/step - loss: 0.5392 - accuracy: 0.7391 - val_loss: 0.5701 - val_accuracy: 0.7230
Epoch 36/100
2187/2187 [==============================] - 2s 815us/step - loss: 0.5390 - accuracy: 0.7394 - val_loss: 0.5665 - val_accuracy: 0.7230
Epoch 37/100
2187/2187 [==============================] - 2s 822us/step - loss: 0.5387 - accuracy: 0.7397 - val_loss: 0.5698 - val_accuracy: 0.7230
Epoch 38/100
2187/2187 [==============================] - 2s 845us/step - loss: 0.5384 - accuracy: 0.7402 - val_loss: 0.5843 - val_accuracy: 0.7227
Epoch 39/100
2187/2187 [==============================] - 2s 840us/step - loss: 0.5383 - accuracy: 0.7392 - val_loss: 0.5788 - val_accuracy: 0.7225
Epoch 40/100
2187/2187 [==============================] - 2s 823us/step - loss: 0.5385 - accuracy: 0.7395 - val_loss: 0.5721 - val_accuracy: 0.7230
Epoch 41/100
2187/2187 [==============================] - 2s 851us/step - loss: 0.5378 - accuracy: 0.7389 - val_loss: 0.5676 - val_accuracy: 0.7240
Epoch 42/100
2187/2187 [==============================] - 2s 796us/step - loss: 0.5382 - accuracy: 0.7399 - val_loss: 0.5706 - val_accuracy: 0.7230
Epoch 43/100
2187/2187 [==============================] - 2s 828us/step - loss: 0.5374 - accuracy: 0.7393 - val_loss: 0.5753 - val_accuracy: 0.7238
Epoch 44/100
2187/2187 [==============================] - 2s 810us/step - loss: 0.5376 - accuracy: 0.7407 - val_loss: 0.5758 - val_accuracy: 0.7238
Epoch 45/100
2187/2187 [==============================] - 2s 800us/step - loss: 0.5378 - accuracy: 0.7398 - val_loss: 0.5711 - val_accuracy: 0.7240
Epoch 46/100
2187/2187 [==============================] - 2s 799us/step - loss: 0.5372 - accuracy: 0.7399 - val_loss: 0.5672 - val_accuracy: 0.7240
Epoch 47/100
2187/2187 [==============================] - 2s 796us/step - loss: 0.5473 - accuracy: 0.7400 - val_loss: 0.5753 - val_accuracy: 0.7214
Epoch 48/100
2187/2187 [==============================] - 2s 798us/step - loss: 0.5365 - accuracy: 0.7403 - val_loss: 0.5745 - val_accuracy: 0.7235
Epoch 49/100
2187/2187 [==============================] - 2s 808us/step - loss: 0.5370 - accuracy: 0.7408 - val_loss: 0.5751 - val_accuracy: 0.7227
Epoch 50/100
2187/2187 [==============================] - 2s 911us/step - loss: 0.5372 - accuracy: 0.7405 - val_loss: 0.5702 - val_accuracy: 0.7240
Epoch 51/100
2187/2187 [==============================] - 2s 792us/step - loss: 0.5363 - accuracy: 0.7408 - val_loss: 0.5763 - val_accuracy: 0.7227
Epoch 52/100
2187/2187 [==============================] - 2s 797us/step - loss: 0.5397 - accuracy: 0.7397 - val_loss: 0.5693 - val_accuracy: 0.7235
Epoch 53/100
2187/2187 [==============================] - 2s 799us/step - loss: 0.5384 - accuracy: 0.7399 - val_loss: 0.5694 - val_accuracy: 0.7240
Epoch 54/100
2187/2187 [==============================] - 2s 848us/step - loss: 0.5358 - accuracy: 0.7407 - val_loss: 0.5914 - val_accuracy: 0.7230
Epoch 55/100
2187/2187 [==============================] - 2s 861us/step - loss: 0.5377 - accuracy: 0.7410 - val_loss: 0.5727 - val_accuracy: 0.7196
Epoch 56/100

2187/2187 [==============================] - 2s 799us/step - loss: 0.5359 - accuracy: 0.7392 - val_loss: 0.5704 - val_accuracy: 0.7222
Epoch 57/100
2187/2187 [==============================] - 2s 791us/step - loss: 0.5368 - accuracy: 0.7402 - val_loss: 0.5723 - val_accuracy: 0.7219
Epoch 58/100
2187/2187 [==============================] - 2s 856us/step - loss: 0.5363 - accuracy: 0.7400 - val_loss: 0.5805 - val_accuracy: 0.7225
Epoch 59/100
2187/2187 [==============================] - 2s 891us/step - loss: 0.5357 - accuracy: 0.7406 - val_loss: 0.5723 - val_accuracy: 0.7225
Epoch 60/100
2187/2187 [==============================] - 2s 802us/step - loss: 0.5355 - accuracy: 0.7413 - val_loss: 0.5725 - val_accuracy: 0.7227
Epoch 61/100
2187/2187 [==============================] - 2s 853us/step - loss: 0.5360 - accuracy: 0.7404 - val_loss: 0.5728 - val_accuracy: 0.7232
Epoch 62/100
2187/2187 [==============================] - 2s 819us/step - loss: 0.5354 - accuracy: 0.7410 - val_loss: 0.5747 - val_accuracy: 0.7232
Epoch 63/100
2187/2187 [==============================] - 2s 867us/step - loss: 0.5357 - accuracy: 0.7403 - val_loss: 0.5714 - val_accuracy: 0.7230
Epoch 64/100
2187/2187 [==============================] - 2s 845us/step - loss: 0.5402 - accuracy: 0.7402 - val_loss: 0.5795 - val_accuracy: 0.7207
Epoch 65/100
2187/2187 [==============================] - 2s 839us/step - loss: 0.5354 - accuracy: 0.7410 - val_loss: 0.5787 - val_accuracy: 0.7219
Epoch 66/100
2187/2187 [==============================] - 2s 789us/step - loss: 0.5354 - accuracy: 0.7407 - val_loss: 0.5799 - val_accuracy: 0.7235
Epoch 67/100
2187/2187 [==============================] - 2s 834us/step - loss: 0.5359 - accuracy: 0.7406 - val_loss: 0.5772 - val_accuracy: 0.7240
Epoch 68/100
2187/2187 [==============================] - 2s 854us/step - loss: 0.5357 - accuracy: 0.7410 - val_loss: 0.5782 - val_accuracy: 0.7219
Epoch 69/100
2187/2187 [==============================] - 2s 821us/step - loss: 0.5350 - accuracy: 0.7403 - val_loss: 0.5970 - val_accuracy: 0.7238
Epoch 70/100
2187/2187 [==============================] - 2s 811us/step - loss: 0.5362 - accuracy: 0.7409 - val_loss: 0.5711 - val_accuracy: 0.7238
Epoch 71/100
2187/2187 [==============================] - 2s 806us/step - loss: 0.5380 - accuracy: 0.7401 - val_loss: 0.5721 - val_accuracy: 0.7232
Epoch 72/100
2187/2187 [==============================] - 2s 838us/step - loss: 0.5359 - accuracy: 0.7407 - val_loss: 0.5835 - val_accuracy: 0.7201
Epoch 73/100
2187/2187 [==============================] - 2s 816us/step - loss: 0.5359 - accuracy: 0.7412 - val_loss: 0.5746 - val_accuracy: 0.7248
Epoch 74/100
2187/2187 [==============================] - 2s 797us/step - loss: 0.5355 - accuracy: 0.7407 - val_loss: 0.5768 - val_accuracy: 0.7232
Epoch 75/100
2187/2187 [==============================] - 2s 798us/step - loss: 0.5346 - accuracy: 0.7411 - val_loss: 0.5721 - val_accuracy: 0.7232
Epoch 76/100
2187/2187 [==============================] - 2s 788us/step - loss: 0.5346 - accuracy: 0.7403 - val_loss: 0.5818 - val_accuracy: 0.7235
Epoch 77/100
2187/2187 [==============================] - 2s 797us/step - loss: 0.5355 - accuracy: 0.7402 - val_loss: 0.5828 - val_accuracy: 0.7217
Epoch 78/100
2187/2187 [==============================] - 2s 824us/step - loss: 0.5344 - accuracy: 0.7406 - val_loss: 0.5812 - val_accuracy: 0.7222
Epoch 79/100
2187/2187 [==============================] - 2s 784us/step - loss: 0.5351 - accuracy: 0.7409 - val_loss: 0.5836 - val_accuracy: 0.7219
Epoch 80/100
2187/2187 [==============================] - 2s 832us/step - loss: 0.5351 - accuracy: 0.7407 - val_loss: 0.5765 - val_accuracy: 0.7214
Epoch 81/100
2187/2187 [==============================] - 2s 834us/step - loss: 0.5344 - accuracy: 0.7412 - val_loss: 0.5773 - val_accuracy: 0.7214
Epoch 82/100
2187/2187 [==============================] - 2s 819us/step - loss: 0.5352 - accuracy: 0.7408 - val_loss: 0.5786 - val_accuracy: 0.7217
Epoch 83/100
2187/2187 [==============================] - 2s 795us/step - loss: 0.5353 - accuracy: 0.7410 - val_loss: 0.5748 - val_accuracy: 0.7235
Epoch 84/100
2187/2187 [==============================] - 2s 809us/step - loss: 0.5373 - accuracy: 0.7406 - val_loss: 0.8011 - val_accuracy: 0.7217
Epoch 85/100
2187/2187 [==============================] - 2s 790us/step - loss: 0.5410 - accuracy: 0.7410 - val_loss: 0.5811 - val_accuracy: 0.7235
Epoch 86/100
2187/2187 [==============================] - 2s 848us/step - loss: 0.5337 - accuracy: 0.7420 - val_loss: 0.5831 - val_accuracy: 0.7232
Epoch 87/100
2187/2187 [==============================] - 2s 846us/step - loss: 0.5339 - accuracy: 0.7418 - val_loss: 0.5819 - val_accuracy: 0.7238
Epoch 88/100
2187/2187 [==============================] - 2s 799us/step - loss: 0.5344 - accuracy: 0.7412 - val_loss: 0.5838 - val_accuracy: 0.7209
Epoch 89/100
2187/2187 [==============================] - 2s 813us/step - loss: 0.5343 - accuracy: 0.7413 - val_loss: 0.5869 - val_accuracy: 0.7201
Epoch 90/100
2187/2187 [==============================] - 2s 795us/step - loss: 0.5346 - accuracy: 0.7407 - val_loss: 0.5884 - val_accuracy: 0.7227
Epoch 91/100
2187/2187 [==============================] - 2s 827us/step - loss: 0.5342 - accuracy: 0.7420 - val_loss: 0.5832 - val_accuracy: 0.7194
Epoch 92/100
2187/2187 [==============================] - 2s 816us/step - loss: 0.5345 - accuracy: 0.7415 - val_loss: 0.5926 - val_accuracy: 0.7212
Epoch 93/100
2187/2187 [==============================] - 2s 874us/step - loss: 0.5343 - accuracy: 0.7414 - val_loss: 0.5948 - val_accuracy: 0.7207
Epoch 94/100
2187/2187 [==============================] - 2s 916us/step - loss: 0.5350 - accuracy: 0.7402 - val_loss: 0.5971 - val_accuracy: 0.7222
Epoch 95/100
2187/2187 [==============================] - 2s 846us/step - loss: 0.5340 - accuracy: 0.7412 - val_loss: 0.5912 - val_accuracy: 0.7214
Epoch 96/100
2187/2187 [==============================] - 2s 839us/step - loss: 0.5341 - accuracy: 0.7410 - val_loss: 0.5774 - val_accuracy: 0.7222
Epoch 97/100
2187/2187 [==============================] - 2s 827us/step - loss: 0.5362 - accuracy: 0.7417 - val_loss: 1.1927 - val_accuracy: 0.7214
Epoch 98/100
2187/2187 [==============================] - 2s 889us/step - loss: 0.5528 - accuracy: 0.7417 - val_loss: 0.5933 - val_accuracy: 0.7214
Epoch 99/100
2187/2187 [==============================] - 2s 810us/step - loss: 0.5325 - accuracy: 0.7415 - val_loss: 0.6010 - val_accuracy: 0.7201
Epoch 100/100
2187/2187 [==============================] - 2s 841us/step - loss: 0.5334 - accuracy: 0.7415 - val_loss: 0.5951 - val_accuracy: 0.7222

In [25]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5777 - accuracy: 0.7335 - 157ms/epoch - 584us/step
Loss: 0.5776588320732117, Accuracy: 0.7335277199745178

In [26]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity_optimized.h5')